
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="color:white">a </div>
<div style="color:white">a </div>
<div style="color:white">a </div>
<div style="color:white">a </div>
<div style="color:white">a </div>
<div style="color:white">a </div>

<h2>Fail</h2>

