
@{
    ViewBag.Title = "SuccessPayPal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="color:white">a </div>
<div style="color:white">a </div>
<div style="color:white">a </div>
<div style="color:white">a </div>
<div style="color:white">a </div>
<div style="color:white">a </div>
<center><img src="~/Content/images/scooter-courier.gif" /></center>
<center><h2>Cảm ơn bạn đã đặt hàng !!</h2></center>
